.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 10px;
}

.blur {
  filter: blur(4px);
  transition: 1s;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
